<!DOCTYPE html>
<html>
<head>
  <title>FaceSorcery</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %>
<%= yield %>

</body>
</html>
